[submodule ".registry"]
	path = .registry
	url = https://github.com/tldbsm/tldbsm.r-universe.dev
	branch = HEAD
[submodule "tiledb"]
	path = tiledb
	url = https://github.com/TileDB-Inc/TileDB-R
	branch = soma/2.20.1
[submodule "tiledbsoma"]
	path = tiledbsoma
	url = https://github.com/single-cell-data/TileDB-SOMA
	branch = 1.9.1
	subdir = apis/r
