[submodule ".registry"]
	path = .registry
	url = https://github.com/tldbsm/tldbsm.r-universe.dev
	branch = HEAD
[submodule "cellxgene.census"]
	path = cellxgene.census
	url = https://github.com/chanzuckerberg/cellxgene-census
	branch = v1.15.0
	subdir = api/r/cellxgene.census
[submodule "tiledb"]
	path = tiledb
	url = https://github.com/TileDB-Inc/TileDB-R
	branch = 0.26.0
[submodule "tiledbcloud"]
	path = tiledbcloud
	url = https://github.com/TileDB-Inc/TileDB-Cloud-R
[submodule "tiledbsoma"]
	path = tiledbsoma
	url = https://github.com/single-cell-data/TileDB-SOMA
	branch = 1.13.1
	subdir = apis/r
