[submodule ".registry"]
	path = .registry
	url = https://github.com/tldbsm/tldbsm.r-universe.dev
	branch = HEAD
[submodule "tiledbsoma"]
	path = tiledbsoma
	url = https://github.com/single-cell-data/TileDB-SOMA
	subdir = apis/r
